<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>CadastrarVenda</servlet-name>
        <servlet-class>Servlet.CadastrarVenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaClientesProdutos</servlet-name>
        <servlet-class>Servlet.BuscaClientesProdutos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaClienteProdutoCNPJCod</servlet-name>
        <servlet-class>Servlet.BuscaClienteProdutoCNPJCod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlteraDataLimiteValidade</servlet-name>
        <servlet-class>Servlet.AlteraDataLimiteValidade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarDataLimite</servlet-name>
        <servlet-class>Servlet.BuscarDiasLimite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaTodasVendas</servlet-name>
        <servlet-class>Servlet.BuscaTodasVendas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaDadosVenda</servlet-name>
        <servlet-class>Servlet.BuscaDadosVenda</servlet-class>
    </servlet>
   <servlet>
        <servlet-name>BuscaTodosProdutos</servlet-name>
        <servlet-class>Servlet.BuscaTodosProdutos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FazerLogin</servlet-name>
        <servlet-class>Servlet.FazerLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EfetuarVenda</servlet-name>
        <servlet-class>Servlet.EfetuarVenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaTodosLotesPorProduto</servlet-name>
        <servlet-class>Servlet.BuscaTodosLotesPorProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaProdutosEstoque</servlet-name>
        <servlet-class>Servlet.BuscaProdutosEstoque</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaDadosRelatorio</servlet-name>
        <servlet-class>Servlet.BuscaDadosRelatorio</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastrarVenda</servlet-name>
        <url-pattern>/CadastrarVenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaClientesProdutos</servlet-name>
        <url-pattern>/BuscaClientesProdutos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaClienteProdutoCNPJCod</servlet-name>
        <url-pattern>/BuscaClienteProdutoCNPJCod</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EfetuarLogin</servlet-name>
        <servlet-class>Servlet.EfetuarLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AlteraDataLimiteValidade</servlet-name>
        <url-pattern>/AlteraDataLimiteValidade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarDataLimite</servlet-name>
        <url-pattern>/BuscarDataLimite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaTodasVendas</servlet-name>
        <url-pattern>/BuscaTodasVendas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaDadosVenda</servlet-name>
        <url-pattern>/BuscaDadosVenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaTodosProdutos</servlet-name>
        <url-pattern>/BuscaTodosProdutos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FazerLogin</servlet-name>
        <url-pattern>/FazerLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EfetuarVenda</servlet-name>
        <url-pattern>/EfetuarVenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaTodosLotesPorProduto</servlet-name>
        <url-pattern>/BuscaTodosLotesPorProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaProdutosEstoque</servlet-name>
        <url-pattern>/BuscaProdutosEstoque</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaDadosRelatorio</servlet-name>
        <url-pattern>/BuscaDadosRelatorio</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

=
   </web-app>
