
.icon-resumo:before { content: '\e800'; } /* '' */
.icon-relatorio:before { content: '\e812'; } /* '' */
.icon-venda:before { content: '\e813'; } /* '' */
.icon-user-add:before { content: '\e827'; } /* '' */
.icon-dia-limite:before { content: '\e82e'; } /* '' */